/* ***********************************************************************************************
		Font
*********************************************************************************************** */

@font-face {
    font-family: 'ralewayregular';
    src: url('fonts/raleway/raleway-regular/raleway-regular-webfont.woff2') format('woff2'),
         url('fonts/raleway/raleway-regular/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaybold';
    src: url('fonts/raleway/raleway-bold/raleway-bold-webfont.woff2') format('woff2'),
         url('fonts/raleway/raleway-bold/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*------------------------------------*\
	General
\*------------------------------------*/

:root {
    --blueLight: #DEEBFF;
    --blue:#0065FC;
    --white: #ffffff;
    --greyTint2: #D9D9D9;
    --grey: #F2F2F2;
    --black: #000000;
  }

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: var(--white);
    max-width: 1400px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

h1{
    font-family: 'ralewaybold';
    font-size: 22px;
}

h2{
    font-family: 'ralewaybold';
    font-size: 18px;
    margin-bottom: 20px;
}


img {
    max-width: 100%;
    height: auto;
}

.container{
    max-width: 1340px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

* {
    box-sizing: border-box;
}

a{
    color: var(--black);
    text-decoration: none;
    outline: none !important;
}

/*------------------------------------*\
	Header
\*------------------------------------*/


.header__contend
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header__nav
{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.header__nav__list{
    display: flex;
}

.header__nav__list__item__link{
    padding: 45px 20px;
    border-top: 2px solid var(--white);
    display: block;
}

.header__nav__list__item__link:hover,
.header__nav__list__item__link:active{
    border-top-color: var(--blue);
    color: var(--blue);;
}

.header__logo{ 
    display: block;
}

.header__logo__img{ 
    width: 62px;
}
/*------------------------------------*\
	Main
\*------------------------------------*/

.form{
    display: flex;
    margin-top: 18px;
    margin-bottom: 30px;
}

.form__marker{
    background-color: var(--grey);
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.form__search{
    color: black;
    padding-left: 10px;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    border-left: none;
    border-right: none;
    font-family: 'ralewaybold';
    padding: 15px;
}

.form__button{
    background-color: var(--blue);;
    padding: 15px;
    border: none;
    color: var(--white);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.form__button__icone{
    display: none;
}

.filter{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.filter__title{
    font-family: 'ralewaybold';
    margin-right: 30px;
    display: block;
}

.filter__list{
    display: flex;
    flex-wrap: wrap;
}

.filter__list__item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
    border: 2px solid var(--greyTint2);
    border-radius: 25px;
    padding: 13px 15px;
}


.filter__list__item:hover{
    background-color: var(--blueLight);
    cursor: pointer;
}

.filter__list > .filter__list__item:last-child{
    margin-right: 0px;
}

.filter__list__item__icone{
    margin-right: 10px;
}

.filter__list__item__icone i{
    color: var(--blue);;
}

.filter__list__item__label{
    font-family: 'ralewaybold';
}


.info{
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.info__icone{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 1px var(--grey) solid;
    border-radius: 50%;
    margin-right: 10px;
}

.info__icone i{
    color: var(--blue);
    font-size: 12px;
}

.main__middle{
    margin-bottom: 50px;
}

.main__middle__contend{
    display: flex;
    justify-content: space-between;
}

.hebergement{
    background-color: var(--grey);
    padding: 40px 30px;
    border-radius: 20px;
    margin-right: 2%;
    width: 65%;
}

.populaire{
    background-color: var(--grey);
    padding: 30px;
    border-radius: 20px;
    width: 33%;
}

.populaire__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hebergement__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergement__list__item{
    background-color: #fff;
    box-shadow: 6px 6px 6px #dfdfdf;
    border-radius: 20px;
    width: 31%;
    margin-bottom: 25px;
}

.hebergement__list__item__link{
    display: block;
}

.hebergement__list__item__link img{
    padding: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 114px;
    width: 100%;
    object-fit: cover;
}

.hebergement__list__item__link .descriptions{
    padding: 10px 15px;
}

.hebergement__list__item__link h3{
    font-family: 'ralewaybold';
    margin-bottom:5px;
    font-size: 16px;
}

.hebergement__list__item__link p{
    margin-bottom:5px;
}

.price{
    font-family: 'ralewaybold';
}

.bloc__star i{
    color: #0065fc;
}

.gris{
    color: #d9d9d9 !important;
}

.populaire__list__item{
    margin-bottom:30px;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
}

.populaire__list > .populaire__list__item:last-child{
    margin-bottom:0px;
}

.populaire__list__item__link{
    display: flex;
}


.populaire__list__item .block__image{
    width: 126px;
}

.populaire__list__item img{
    height: 134px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


.populaire__list__item__link .descriptions{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px;
}

.populaire__list__item__link h3{
    font-family: 'ralewaybold';
    margin-bottom: 5px;
    font-size: 16px;
}

.hebergement__link{
    font-family: 'ralewaybold';
    display: block;
    font-size: 16px;
}

.activite__marseille__contend{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.activite__marseille__items{
    width: 23%;
}

.activite__marseille__items a{
    box-shadow: 0px 2px 15px rgb(217 217 217);
    border-radius: 20px;
    display: block;
}

.activite__marseille__items h3{
    font-family: 'ralewaybold';
    padding: 20px;
}

.activite__marseille__items.bloc__double{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activite__marseille__items img{
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.bloc__simple img{
    height: 390px;
}

.fort_pomegue img{
    height: 180px;
}

.ile__frioul img{
    height: 110px;
}

.notre__dame__Garde img{
    height: 140px;
}

.parc__longchamp img{
    height: 153px;
}


.footer{
    background-color: #f2f2f2;
    padding: 45px 0px;
    margin-top: 50px;
}

.footer__contend{
    display: flex;
}

.footer__contend__items{
    width: 33.333%;
}

.footer__contend__items h3{
    font-family: 'ralewaybold';
    font-size: 18px;
    margin-bottom: 15px;
}

.footer__list__items__link{
    line-height: 1.8;
}

/* ##################################################################################################
	Responsive
################################################################################################## */

/*Tablette*/
@media screen and (max-width: 992px){
    .container {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .main__middle__contend {
        flex-direction: column;
    }

    .hebergement{
        width: 100%;
        margin: 0px;
        padding: 0px 15px;
        order: 2;
        background-color: #fff;
    }

    .populaire{
        width: 100%;
        margin-bottom: 40px;
        border-radius: 0;
    }

    .activite__marseille__items{
        width: 48%;
        margin-bottom: 20px;
    }

    .filter__title{
        margin-right: 20px;
    }

    .filter__list__item{
        margin-right: 15px;
    }
}

/*Smartphone*/
@media screen and (max-width: 768px){

    .header {
        margin-bottom: 30px;
    }

    .header__contend{
        justify-content: space-between;
    }

    .header__nav{
        flex: auto;
        justify-content: space-between;
        order: 2;
        width: 100%;
    }

    .header__nav__list{
        width: 100%;
    }

    .header__nav__list__item{
        width: 50%;
    }

    .header__nav__list__item__link{
        padding: 10px 0px;
        border-top: none;
        border-bottom: 3px solid#f2f2f2;
        text-align: center;
    }

    header nav ul li a:hover,
    header nav ul li a:active{
        border-bottom-color: #0065fc;
        color: #0065fc;
    }

    header .inscrire {
        margin-left: 0;
        padding: 40px 5px;
    }

    .search_filtre h1 {
        margin-bottom: 10px;
    }

    .search_filtre form {
        margin: 30px 0px;
    }

    .block_filter {
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .block_filter .title_filter {
        margin-right: 0px;
        margin-bottom: 15px;
    }

    .block_filter ul li {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .block_filter ul li:nth-child(3){
        width: 100%;
    }

    .bloc_hebergement ul li {
        width: 100%;
        margin-bottom: 10px;
    }

    .activity_items {
        width: 100%;
    }

    .activity_items.bloc_double .bloc_double_top{
        margin-bottom: 20px;
    }

    footer {
        padding-bottom: 0px;
    }

    .footer-contend {
        flex-direction: column;
    }

    .footer-items {
        width: 100%;
        margin-bottom: 40px;
    }

    .search_filtre .button_search .icone_search{
        display: block;
    }

    .search_filtre .button_search .label_search{
        display: none;
    }

    header nav{
        margin-left: -15px;
        margin-right: -15px
    }

    .herbergement_populaire_contend {
        margin-left: -15px;
        margin-right: -15px;
    }
}
