/* ***********************************************************************************************
		Font
*********************************************************************************************** */

@font-face {
    font-family: 'ralewayregular';
    src: url('fonts/raleway/raleway-regular/raleway-regular-webfont.woff2') format('woff2'),
         url('fonts/raleway/raleway-regular/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaybold';
    src: url('fonts/raleway/raleway-bold/raleway-bold-webfont.woff2') format('woff2'),
         url('fonts/raleway/raleway-bold/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*------------------------------------*\
	General
\*------------------------------------*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    max-width: 1400px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

img {
    max-width: 100%;
    height: auto;
}

.container{
    max-width: 1340px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

* {
    box-sizing: border-box;
}

a{
    color: #000;
    text-decoration: none;
    outline: none !important;
}