/* ***********************************************************************************************
		Font
*********************************************************************************************** */

@font-face {
    font-family: 'ralewayregular';
    src: url('fonts/raleway/raleway-regular/raleway-regular-webfont.woff2') format('woff2'),
         url('fonts/raleway/raleway-regular/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaybold';
    src: url('fonts/raleway/raleway-bold/raleway-bold-webfont.woff2') format('woff2'),
         url('fonts/raleway/raleway-bold/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*------------------------------------*\
	General
\*------------------------------------*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    max-width: 1400px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

img {
    max-width: 100%;
    height: auto;
}

.container{
    max-width: 1340px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

* {
    box-sizing: border-box;
}

a{
    color: #000;
    text-decoration: none;
    outline: none !important;
}

/*------------------------------------*\
	General
\*------------------------------------*/


.header__contend
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header__nav
{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.header__nav__list{
    display: flex;
}

.header__nav__list__item__link{
    padding: 45px 20px;
    border-top: 2px solid#fff;
    display: block;
}

.header__nav__list__item__link:hover,
.header__nav__list__item__link:active{
    border-top-color: #0065fc;
    color: #0065fc;
}

.header__logo{ 
    display: block;
}
